{% extends 'base.html' %}


{% block content %}

<h5> 總後台 </h5>
<ul>
  <li> <a href="{% url 'pay_list' %}"> 代收列表 </a> </li>
  <li> <a href="{% url 'cash_list' %}"> 代付列表 </a> </li>
  <li> <a href="{% url 'ant_list' %}"> 碼商列表 </a> </li>
</ul>

<hr/>


<h5> 碼商 </h5>
<ul>
  <li> 
    <form action="{% url 'login_ant' %}" method="post">
      <select name="ant">
        {% for a in ants %}
          <option value="{{ a }}">{{ a }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="登入">
    </form>
  </li>
  <!--
  <li> <a href="{% url 'pay_list' %}"> 代收列表 </a> </li>
  <li> <a href="{% url 'cash_list' %}"> 代付列表 </a> </li>
   -->
</ul>

{% endblock %}
